
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Files/Contact/style.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/a076d5399.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.14.0/js/all.js" data-auto-replace-svg="nest"></script>
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <div class="icon facebook">
            <div class="tooltip">Facebook</div>
            <span><i class="fab fa-facebook-f"></i></span>
        </div>
        <div class="icon twitter">
            <div class="tooltip">Twitter</div>
            <span><i class="fab fa-twitter"></i></span>
        </div>
        <div class="icon instagram">
            <div class="tooltip">Instagram</div>
            <span><i class="fab fa-instagram"></i></span>
        </div>
        <div class="icon github">
            <div class="tooltip">GitHub</div>
            <span><i class="fab fa-github"></i></span>
        </div>
        <div class="icon youtube">
            <div class="tooltip">Youtube</div>
            <span><i class="fab fa-youtube"></i></span>
        </div>
        <div class="icon mail">
            <div class="tooltip">Mail</div>
            <span><i class="fas fa-envelope-open-text"></i></span>
        </div>
    </div>
</body>

</html>