@using HumanResourcesSystem.Entities.Concrete
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<HumanResourcesSystem.Entities.Concrete.JobPosting>
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />

    <title>İş İlanı Listele</title>

    <link href="~/Files/Employee/style.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    <input type="checkbox" id="check">
    <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
        <header>X-HRS</header>
        <ul>
            <li><a href="/SelfHistory/Index"><i class="fa fa-users" aria-hidden="true"></i>Özgeçmiş</a></li>
            <li><a href="/SelfHistory/Add"><i class="fa fa-plus" aria-hidden="true"></i>Ekle</a></li>
            <li><a href="/SelfHistory/Update"><i class="fab fa-chrome" aria-hidden="true"></i>Güncelle</a></li>
            <li><a href="/SelfHistory/GetAll"><i class="fa fa-list-ol" aria-hidden="true"></i>Listele</a></li>
            <li><a href=""><i class="fa fa-search" aria-hidden="true"></i>Ara</a></li>
            <li><a href="/SelfHistory/Delete"><i class="fa fa-trash" aria-hidden="true"></i>Sil</a></li>
        </ul>
    </div>

    <div class="container text-center">
        <h1 class="order py-4 ">
            <i class="far fa-handshake"></i> Listele

        </h1>




        <!--  Table -->
        <div class="d-flex table-data">
            <table class="table table-striped">

                <thead>
                    <tr>

                        <th scope="col">Pozisyon</th>
                        <th scope="col">Açıklama</th>
                        <th scope="col">Oluşturulma Tarihi</th>
                        <th scope="col">Başvur</th>
                      
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tbody id="tbody">



                        <tr>


                            <td>@item.Position</td>
                            <td>@item.Description</td>
                            <td>@item.CreatedTime</td>
                            <td><a  class="btn btn-danger"><i class="fab fa-black-tie"></i></a></td>
                            

                        </tr>



                    </tbody>
                }
            </table>

        </div>

    </div>

</body>

