
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Workers</title>
    <link href="~/Files/Personnel/style.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
    <input type="checkbox" id="check">
    <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
        <header>X-HRS</header>
        <ul>
            <li><a href="/Employee"><i class="fa fa-users" aria-hidden="true"></i>Elemanlar</a></li>
            <li><a href="/JobPosting"><i class="fa fa-address-book" aria-hidden="true"></i>İş İlanları</a></li>
            <li><a href="/Payroll"><i class="fas fa-stream"></i>Bordro</a></li>
            <li><a href="/Material"><i class="fa fa-paperclip" aria-hidden="true"></i>Materyal Talep</a></li>
           
        </ul>
    </div>
    <section></section>
</body>
</html>

